<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <script> src= "https://www.google.com/recaptcha/api.js?render=" + process.env.RECAPTCHA_SITE_KEY</script>

    <title> Contact Page </title>

</head>
<body>
    <form class="ui form" id = "verifyForm">
        <div class="field">
          <label>Email</label>
          <input type="text" name="email" placeholder="Email">
        </div>
        <div class="field">
          <label>Message</label>
          <input type="text" name="message" placeholder="Message">
        </div>
        <div class="field">
            <label>Full Name</label>
            <input type="text" name="name" placeholder="Name">
          </div>
        <button class="ui button" type="submit">Submit</button>
      </form>

      <script>
        document.getElementById('verifyForm').addEventListener('submit', runVerify)

        function runVerify(e){
          e.preventDefault();
          runCaptcha();
        }

        function runCaptcha(){

          grecaptcha.execute(process.env.RECAPTCHA_SITE_KEY, {action: 'homepage'}).then(function(token){
          
          const name = document.querySelector('#name');
          const message = document.querySelector('#message');
          const email = document.querySelector('#email');
          const captcha = token.value;

          sendData(name,message,email,captcha);
        });
      }

        function sendData(name, message, email, captcha){
            const info = JSON.stringify({name:name, message:message, email: email, captcha:captcha});

            //change verify to controller route
            fetch('/contact/sendRecaptcha', {
              method: 'POST',
              headers: {
                'Accept' : 'application/json, tect/plain, */*',
                'Content-Type': 'application/json'
              },
              body: info
            }).then((res) => res.json())
            .then((data) => {alert(data)})
        }

      </script>

</body>
</html>